* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: var(--color-1);
    color: #e3e2e2;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addinput {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addingform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
}

label {
    font-size: 1.5rem;
    font-weight: 500;
}

.contentEvent {
    margin-top: 2rem;
    width: 40vw;
    max-height: 20vw;
    overflow-y: scroll;
    position: relative;
    background: var(--color-2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid var(--color-3);
}

.event {
    background-color: var(--color-3);
    width: 10vw;
    height: 10vw;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contentEvent::-webkit-scrollbar {
    width: 8px;
}

.contentEvent::-webkit-scrollbar-thumb {
    background: var(--color-4);
    border-radius: 8px;
}

#eventInput {
    outline: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 300;
    color: #e3e2e2;
    background: var(--color-2);
    max-width: 550px;
    max-height: 150px;
    min-width: 550px;
    min-height: 150px;
    border: 1px solid var(--color-4);
    box-shadow: 0px 0px 7px 2px rgba(37, 37, 37, 0.87);
    margin-top: 0.3rem;
}

#eventInput:focus {
    box-shadow: inset 0 0 2px 3px rgba(0, 0, 0, 0.7);
    border: none;
}

#dateInput {
    width: 120px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: var(--color-2);
    color: #e3e2e2;
    font-weight: 300;
    box-shadow: 0px 0px 7px 2px rgba(37, 37, 37, 0.87);
    padding: 10px;
    border: 1px solid var(--color-4);
}

#dateInput:focus {
    box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0.7);
    background: var(--color-2);
    border: none;
}


.submitButton {
    width: 120px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: var(--color-2);
    color: #e3e2e2;
    font-weight: 300;
    box-shadow: 0px 0px 7px 2px rgba(37, 37, 37, 0.87);
    padding: 10px;
    border: 1px solid var(--color-4);
    margin-left: 0.5rem;
}

.submitButton:focus {
    box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0.7);
    border: none;
}

.day {
    font-size: 1.7rem;
    font-weight: 600;
    margin-top: 5rem;
    margin-bottom: 1rem;
}