:root {
    --color-1 : #1E0E27;
    --color-2 : #3E065F;
    --color-3 : #700B97;
    --color-4 : #8E05C2;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: var(--color-1);
    font-family: 'Poppins', sans-serif;
}

.content {
    width: 85%;
    height: 35rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--color-2);
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newsletter {
    width: 45%;
    height: 25vw;
    background: var(--color-3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 1rem;
    gap: 1rem;
    text-align: center;

}

.newsletter p {
    font-size: 2vw;
    font-weight: 100;
    color: #e3e2e2;
    margin-bottom: 1rem;
}

.newsletter img {
    position: relative;
    width: 22vw;
    height: 20vw;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.7);
    transition: all 0.2s ease-in-out;
}

.newsletter img:hover {
    transform: translate(1px, 2px);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.7);
    transition: all 0.2s ease-in-out;
}

.app {
    width: 30%;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
    margin-right: 9rem;
}

.app a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    width: 8rem;
    height: 8rem;
    background: var(--color-3);
    border-radius: 10px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.7);
}

.app a:hover {
    transform: translate(1px, 2px);
    box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.8);
}   
